fastapi
uvicorn
pydantic
pydantic-settings
https://github.com/LonamiWebs/Telethon/archive/v1.24.zip
python-dotenv
requests
passlib[bcrypt]
python-multipart
python-jose[cryptography]
httpx
beautifulsoup4
lxml
